/* Общие свойства */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 15px;
}
body{
  font-family: 'Oxygen', sans-serif;
  background-image: url('./image/clouds-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



/* Свойства компонент Header */
.header {
  /* background: linear-gradient(0deg, rgb(83, 83, 153), rgb(76, 159, 207)); */
  
  padding: 30px 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(214, 214, 214);
  opacity: 0.7;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}
.header__logo{
  max-width: 100px;
  background-color: white;
  padding: 15px;
}
.header__logo-text{
  text-decoration: none;
  color: inherit;
}
.header__search input {
  text-align: center;
  border-radius: 50px;
  width: 300px;
  height: 36px;
  border: none;
  background-color: #cbc8d0;
  color: black;
  
}
.header__search input::placeholder{
  color: #fff;
}
.header__search input:focus{
  outline:none;
}

/* свойства страницы home  */
.home{
  margin: 50px 0;
}
.home__city{  
  background-color: rgb(214, 214, 214);
  opacity: 0.7;
  border-radius: 10px 10px 0 0;
  padding: 30px;
  color: black;
  font-weight: 600;
  font-size: 30px;
  text-transform: capitalize;
}
.home__wrapper{ 
  padding: 20px;
  background: linear-gradient(0deg, rgb(83, 83, 153), rgb(76, 159, 207));
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.home__temp{
  font-size: 100px;
}
.home__wrapper{
font-size: 20px;
text-transform: capitalize;
}
.home__img{
  width: 30%;
}
.home__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



